# WARNING: it is CRITICAL that this file & directory are NOT accessible directly via a web browser!
# https://nette.org/security-warning

parameters:


php:
	date.timezone: Europe/Prague


application:
	errorPresenter: Error
	mapping:
		*: App\*Module\Presenters\*Presenter
		Api: Tomaj\NetteApi\Presenters\*Presenter
    

session:
	expiration: 14 days


services:
	router: App\RouterFactory::createRouter

	- Tomaj\NetteApi\Link\ApiLink
	- Tomaj\NetteApi\Misc\IpDetector
	apiDecider:
		class: Tomaj\NetteApi\ApiDecider
		setup:
			- addApiHandler(\Tomaj\NetteApi\EndpointIdentifier('GET', 1, 'echo'), \App\Api\v1\Handlers\EchoHandler(), \Tomaj\NetteApi\Authorization\NoAuthorization())

